[credential]
	helper = cache --timeout=3600
[user]
	email = melkon.or@gmail.com
	name = Orestis Melkonian
[color]
  ui = auto # covers diff = true, status = auto, branch = auto
  interactive = auto
[alias]
	alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort
	ignore = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged
	ignored = !git ls-files -v | grep "^[[:lower:]]"
	# Switch to PR
  copr = "!f(){ \
              if [ $(printf \"%s\" \"$1\" | grep '^[0-9]\\+$' > /dev/null; printf $?) -eq 0 ]; then \
                  git fetch origin refs/pull/$1/head:pr/$1 && \
                  git checkout pr/$1; \
              fi \
          }; f"
  s = status
  c = commit
  cm = commit -m
  cs = commit -s
  cms = commit -ms
  ca = commit --amend
  can = commit --amend --no-edit
  csa = commit -s --amend
  a = add
  all = add -A
  l = log --graph --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
  ll = log --stat --abbrev-commit
  d = diff --color-words
  remotes = remote -v
  ri = rebase --interactive
  p = push origin
  br = branch
  ch = checkout
  chm = checkout master
  chb = checkout -b
[core]
	excludesfile = ~/.gitignore
	editor = subl -w
	pager = less -r
[push]
	default = simple
